body {
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: space-between; /*not pushing to the end on column but works on row*/

    flex: 1 1 auto;
    /*align-items: center;*/
}

.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0;
}

.logo {
    
}

.header_links {
    
}

.panel_img {
    width: 20em;
}

.panel,
.container,
.testimonial,
.footer {
    display: flex;
    justify-content: center;
}

/*
.container {
    display: flex;
    justify-content: center;
}

.testimonial {
    display: flex;
    justify-content: center;
}

.footer {
    display: flex;
    justify-content: center;
}
*/

ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: .5em;
}
