body {
    min-height: 100vh;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between; 
    flex: 1 1 auto;
    /*align-items: center;*/
    
    font-family: 'roboto';

    margin:0;
}

.panel,
.cards,
.cta,
.footer {
    display: flex;
    justify-content: center;

}

.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    
    padding: 1em 10em;
    
    color: #f9faf8;
    background-color: #1F2937;
}

.logo {
    color: #f9faf8;
    background-color: #1F2937;
    font-size: 24px;
}

/*.header_links {
    do I need this container?  
}
*/

.hero {
    font-size: 48px;
    font-weight: 900;
}

.panel {
    display: flex;
    justify-content: space-between;
    
    color: #f9faf8;
    background-color: #1F2937;

    padding: 3em 10em;
}

.panel_img {
    width: 20em;
}

.container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;

    color: #1f2937;
    font-size: 36px;
    font-weight: 900;

    padding: 2em 12em;
}

.cards {
    display: flex;
    justify-content: space-between;
}

.card {
    background-color: #3882f6;

    height: 40px;
    width: 40px;
}

.testimonial {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    
    padding: 3em 12em;

    color: #1f2937;
    background-color: #e5e7eb;
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}

.attribution {
    display: flex;
    justify-content: flex-end;
    
    font-size: 24px;
}

.cta {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;

    color: #f9faf8;
    background-color: #3882f6;

    margin: 3em 10em;
    padding: 2em 5em;
}

.cta_hero {
    font-size: 24px;
    font-weight: 900;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: #1f2937;

}

.text {
    color: #e5e7eb;
    font-size: 18px;
}

.btn_sign_up {
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 18px;
    font-weight: bold;

    height: 35px;
    border: 3px solid;
    border-radius: 7px;
    padding: 0 32px;
    
}

.btn_hero {
    border: 3px solid #1f2937;
}

ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: .5em;
}
